# Virtual environments
.venv

# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class


#Environment variables
.env
.env.sentry
.env.validator

# Distribution / packaging
dist/
build/
*.egg-info/


.mypy_cache/
.pytest_cache/
.ruff_cache/